<!doctype html>
<!-- flag root element of app w/ ng-app directive -->
<!-- ng-app specifies which module to load when boostrapping app -->
<html lang="en" ng-app="todos"> 
<head>
  <meta charset="UTF-8">
  <title>Todo Angular</title>

  <link rel="stylesheet" href="public/stylesheets/style.css">

  <!-- download angular, callback executed when HTML fully loaded-->
  <!-- looks for ng-app directive, bootstrap (start)
  w/ root of app set at ng-app element -->
  <!-- once started, angular listens for events & changes accordingly -->
  <script src='public/javascripts/angular.min.js' type='text/javascript'></script>
  <script src='public/javascripts/todos.js' type='text/javascript'></script>
</head>
<body>
  <h1>Hello World! (and CrowdSurge)</h1>
  <p>Here is my 1st AngularJS app</p>

  <!-- instantiate new TodoController scoped to var todoCtrl -->
  <div class="todoCtrl" ng-controller="TodoController as todoCtrl">
    <!-- {{}} is scopepd within current context -->
    <!-- call function below when statement is reached -->
    <h2>All Todos: {{todoCtrl.getTotalTodos()}}</h2>

    <ul class='unstyled'>
      <!-- create following li for each todo -->
      <li ng-repeat='todo in todoCtrl.todos'>
        <input type="checkbox" ng-model="todo.done">
        <!-- changes to done- class renders live css changes -->
        <span class='done-{{todo.done}}'>{{todo.text}}</span>
      </li>
    </ul>

    <form class="form-horizontal">
      <input type="text" ng-model="todoCtrl.formTodoText" ng-model-repeat>
      <input type="text" ng-model="todoCtrl.priority">
      <button class="btn" ng-click="todoCtrl.addTodo()"><i class="icon-plus"></i>Add Todo</button>
    </form>

    <button class="btn-large" ng-click="todoCtrl.clearCompleted()"><i class="icon-trash"></i>Clear Completed</button>
  </div>
</body>
</html>